#sign-in-btn {
  display: none;
}

form {
  background-color: #050a30;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 2rem;
  max-width: 20rem;
  margin: 1rem auto 0;
}

input {
  border: 0.1rem solid #050a30;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

input:hover,
input:focus {
  box-shadow: 0.05rem 0.05rem 0.3rem #fff;
}

.log-in-btn {
  color: #fff;
  border: 0.1rem solid #fff;
  width: 100%;
}

.log-in-btn:hover {
  background-color: #fff;
  color: #050a30;
  text-decoration: underline;
}

.demo-info {
  border: 1px solid #050a30;
  border-radius: 0.5rem;
  margin: 1rem auto 0;
  padding: 1rem;
  width: 13rem;
}

.demo-info span {
  color: brown;
}
